endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Copie server.secrets.example.cfg para server.secrets.cfg e preencha os segredos.
exec server.secrets.cfg

set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

ensure vrp
ensure oxmysql

ensure [system]
# ensure [veiculos]
ensure [workstore]

sv_scriptHookAllowed 0

#sv_master1 ""
set sv_listingIPOverride ""

sets tags ""

sets locale "pt-BR"

# Descomente quando adicionar base-fivem/server/server.png
# load_server_icon server.png

sets banner_detail ""
sets banner_connecting ""

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:11000011479c413 group.admin

set onesync on
set sv_endpointprivacy true
set onesync_population true
set sv_enforceGameBuild 2802
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

# set sv_endpointprivacy +

setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

sv_hostname "BASE"
sets sv_projectName "BASE"
sets sv_projectDesc ""
sets Discord ""

sv_maxclients 7
